<?xml version="1.0"?>
<launch>
  <include file="$(find srl_sim_gazebo_ignition)/launch/sim.launch">
    <arg name="airframe" value="rmf_owl"/>
    <arg name="world" value="$(find srl_sim_gazebo_ignition)/resources/worlds/depot.world"/>
    <arg name="world_name" value="depot"/>
    <!--<env name="IGN_GAZEBO_RESOURCE_PATH" value="$(find digiforest_simulation)/resources/worlds:$(find digiforest_simulation)/resources/models"/>-->
  </include>
</launch>