<?xml version="1.0"?>
<launch>
  <!--
  The PX4 airframe to use. For available airframes see
  PX4-Autopilot/ROMFS/px4fmu_common/init.d-posix/airframes
  Make sure to remove the leading number and underscode, e.g. 10016_iris should
  be written as iris in the argument.
  -->
  <!-- TODO what should the default be? -->
  <arg name="airframe" default="iris"/>

  <!-- The world to load in Gazebo. It must contain the MAV model. -->
  <arg name="world" default="$(find px4)/Tools/simulation-ignition/worlds/$(arg airframe).world"/>

  <!-- Whether to show the Gazebo GUI. -->
  <arg name="gui" default="false"/>

  <!-- PX4 with Ignition Gazebo -->
  <node pkg="srl_sim_gazebo_ignition" type="px4_sitl_ignition.bash"
        name="px4_sitl_ignition" args="$(find px4) $(arg world) $(arg airframe)"
        required="true" output="screen">
    <env unless="$(arg gui)" name="HEADLESS" value="1"/>
  </node>

  <!-- MAVROS -->
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/>
  </include>

  <!-- Enable bridges for communication -->
  <include file="$(find srl_sim_gazebo_ignition)/launch/rmf_owl_ros_ign_bridges.launch">
    <arg name="world"      value="$(arg world)"/>
    <arg name="robot_name" value="$(arg airframe)" />
  </include>
</launch>
