<?xml version="1.0"?>
<launch>
  <!--
  The PX4 airframe to use. For available airframes see
  PX4-Autopilot/ROMFS/px4fmu_common/init.d-posix/airframes
  Make sure to remove the leading number and underscode, e.g. 10016_iris should
  be written as iris in the argument.
  -->
  <arg name="airframe" default="rmf_owl"/>

  <!-- The world to load in Gazebo. It must contain the MAV model. -->
  <arg name="world" default="$(find srl_sim_gazebo_ignition)/resources/worlds/depot.world"/>

  <!-- Whether to show the Gazebo GUI. -->
  <arg name="gui" default="true"/>

  <include file="$(find srl_sim_gazebo_ignition)/launch/px4_sitl.launch">
    <arg name="airframe" value="$(arg airframe)"/>
  </include>

  <include file="$(find srl_sim_gazebo_ignition)/launch/gazebo.launch">
    <arg name="airframe" value="$(arg airframe)"/>
    <arg name="world" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
</launch>
