[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/PX4/PX4-Autopilot.git
	branch = release/1.14
[submodule "mav_interface_msgs"]
	path = mav_interface_msgs
	url = ../mav_interface_msgs.git
[submodule "srl_sim_gz/px4-gzsim-plugins"]
	path = srl_sim_gz/px4-gzsim-plugins
	url = git@github.com:smartroboticslab/px4-gzsim-plugins.git
	branch = task/lf/adjust_for_srl_sim_gz
[submodule "PegasusSimulator"]
	path = PegasusSimulator
	url = git@github.com:felix-muller/PegasusSimulator.git
	branch = port2IS5
