<?xml version="1.0"?>
<launch>
  <arg name="vehicle" default="dji_f450_srl"/>

  <include file="$(find srl_mpc_examples)/launch/pose_estimator_gazebo_classic.launch">
    <arg name="vehicle" value="$(arg vehicle)"/>
  </include>

  <node pkg="srl_mpc_examples"
        type="example_mpc_path.py"
        name="example_mpc_path"
        output="screen"
        required="true">
    <param name="vehicle" type="string" value="$(arg vehicle)"/>
    <remap from="~path" to="/out"/>
  </node>

  <param name="config_file_autopilot" value="$(find srl_mpc_examples)/config/$(arg vehicle).yaml" />
  <node pkg="mpc_ros"
        type="mpc_node"
        name="mpc_node"
        output="screen"
        required="true">
    <remap from="/mavros/odometry/data" to="/estimated/odometry"/>
  </node>
</launch>
