<?xml version="1.0"?>

<model>
  <name>h3d_house_848</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Sebastian Barbas Laina</name>
    <email>sebastian.barbas@tum.de</email>
  </author>

  <description>
    A house from matterport h3d dataset
  </description>
</model>