<?xml version="1.0"?>
<model>
  <name>rmf_owl</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Sebastián Barbas Laina</name>
    <email>sebastian.barbas@tum.de</email>
  </author>

  <description>
    RMF-Owl MAV: https://arxiv.org/abs/2202.11055
  </description>
</model>
