<?xml version="1.0"?>
<launch>
  <arg name="input_odometry_topic"  default="/mavros/odometry/data"/>
  <arg name="input_imu_topic"       default="/mavros/imu/data_raw"/>
  <arg name="output_odometry_topic" default="/estimated/odometry"/>

  <node pkg="srl_sim_util"
        type="odometry_to_transformstamped.py"
        name="odometry_to_transformstamped"
        output="screen"
        required="true">
    <remap from="~odometry"  to="$(arg input_odometry_topic)"/>
  </node>

  <node pkg="mav_ekf"
        type="mav_ekf_node"
        name="mav_ekf_node"
        output="screen"
        required="true">
    <param name="gyr_noise_density"    type="double" value="5e-3"/>
    <param name="acc_noise_density"    type="double" value="5e-2"/>
    <param name="gyr_random_walk"      type="double" value="3e-5"/>
    <param name="acc_random_walk"      type="double" value="2e-4"/>
    <param name="sigma_p"              type="double" value="3e-3"/>
    <param name="sigma_q"              type="double" value="5e-3"/>
    <param name="calibrate_extrinsics" type="bool"   value="True"/>
    <param name="publishing_rate"      type="int"    value="40"/>
    <param name="tracked_frame"        type="string" value="V"/>
    <param name="velocity_frame"       type="string" value="W"/>
    <remap from="~imu"      to="$(arg input_imu_topic)"/>
    <remap from="~pose"     to="/odometry_to_transformstamped/transform"/>
    <remap from="~odometry" to="$(arg output_odometry_topic)"/>
  </node>
</launch>
